# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log

# Environment files
.env
.env.*

# Editor/IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/

# texto
plansito.txt
